@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --black-two: #121212;
  --white: #e8e8e8;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

.blue {
  color: #0290ff;
  cursor: pointer;
}

/* NAVBAR */
.header {
  font-family: 'Montserrat', sans-serif;
  border-bottom: 1px solid var(--white);
  padding: 0 10rem 0 10rem;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.block1 {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex: 2;
}

a {
  text-decoration: none;
}

.menuLinks {
  display: flex;
  gap: 5rem;
  list-style: none;
}

.Bookstore-cms {
  font-size: 1.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0290ff;
}

.books {
  font-size: 0.813rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: var(--black-two);
}

.categories {
  opacity: 0.5;
  font-size: 0.813rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: var(--black-two);
}

.oval {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  padding: 0.875rem;
  border: solid 1px var(--white);
  border-radius: 50%;
}
